.root {
    padding: 150px;
    text-align: center;
    
    span {
        font-size: 80px;
    }
}

.description {
    color: rgb(255, 0, 0);
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}